<!--一直保持nav-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Instructor Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="container">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div clss="navbar-header">
                    <!--折叠功能-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SchoolManagement", "InsIndex", "Instructor", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Session["User"] != null)
                        {
                            <li>@Html.ActionLink("UpdateGrade", "UpdateGrade", "Instructor")</li>
                            <li>@Html.ActionLink("Statistic", "Statistic", "Instructor")</li>
                        }
                        @if (Session["Right"] != null)
                        {
                        <li>@Html.ActionLink("Schedual", "Index", "Schedual")</li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @if (Session["User"] != null)
                            {
                                if (Session["Instructor"] != null)
                                {  <a href="~/Instructor/InsIndex">@Session["Instructor"].ToString()</a>}
                            }
                        </li>
                        <li>
                            @if (Session["User"] != null)
                            {
                                <a href="~/Home/Logoff">Logoff</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h2 class="page-header">@ViewBag.Title</h2>
    <div>
        @RenderBody()
    </div>
    <footer>
        <nav class="navbar-default nabar-fixed-bottom text-center">
            &copy:@DateTime.Now.Year
        </nav>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
