@model IEnumerable<SchoolManagement.Models.Schedual>
@{
    ViewBag.Title = "DBAIndex";
    Layout = "~/Views/Shared/_DBALayout.cshtml";
}
<h2>DBAIndex</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        Select Department: @Html.DropDownList("SelectedDepartment", ViewBag.SelectedDepartment as SelectList, "All", new { @class = "form-control" })
        Select Semester:@Html.DropDownList("SelectedSemester", ViewBag.SelectedSemester as SelectList, "All", new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-primary pull-right btn-sm" />
    </div>
}
<table class="table">
    <tr>
        <th>semester</th>
        <th>course</th>
        <th>credits</th>
        <th>department</th>
        <th>required/elective</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.Name)
            </td>
            @if (item.level == 0)
            {
                <td>required</td>
            }
            else
            {
                <td>elective</td>
            }
        </tr>
    }
</table>
