@model IEnumerable<SchoolManagement.Models.LocationTime>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DBALayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ClassRoomID</th>
        <th>Location</th>
        <th>MaxSize</th>
        <th>CourseID</th>
        <th>CourseTitle</th>
        <th>InstructorID</th>
        <th>FullName</th>
        <th>Time</th>
        
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        string selectedRow = "";
        if (item.ClassRoomID == ViewBag.ClassRoomID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ClassRoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classroom.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classroom.maxSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor.FullName)
            </td>
            <td>
                @{
                    foreach (var time in item.Times)
                    {
                        @time.Content<br />
                    }
                }
            </td>

            <td>
     
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationTimeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationTimeID })
            </td>
        </tr>
  }

</table>

